h1 {
    
    color: Salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
  }

  p {
    
    color: Gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
  }

  .button1 {
    padding: 10px 20px;
    background-color: #212529;
    border: 1px solid Salmon;
    border-radius: 7px;
    color: Salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center
  }
  
  .button1:hover {
    background-color: Salmon;
    color: white;
  }

  a { 
    margin:15px;
  }
  
  a:hover {
    background-color: Salmon;
    color: white;
    padding: 10px 20px;
  }

  nav {
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

  }

 
  